

.profile-button .profile-menu-button .btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

.profile-button .profile-submenu-button .btn:focus{
    outline: none !important;
    box-shadow: none !important;
}

.profile-toggle-button .btn:focus{
    outline:none !important;
    box-shadow: none !important;
}

#profile-toggle-button-fade{
    opacity: 1;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
#profile-toggle-button-fade.fade{
    opacity: 0;
}


