@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
.navbar-wrapper {
  font-family: "Oswald", sans-serif;
}

.navbar-component {
  font-size: 0.5rem;
  gap: 0.5rem;
}
.navbar-link {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  transition: 0.5s ease;
}
.navbar-link:hover {
  transition: 0.3s ease;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px white;
}


.navbar-icon {
  padding: 0.3rem 0.5rem;
  color: #ffffff !important;
  transition: 0.3s ease;
}

.navbar-icon:hover {
  transition: 0.3s ease;
  color: black !important;
  background-color: white;
  box-shadow: 0px 0px 10px white;
}

.back-drop {
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: 1s ease;
  -webkit-transition: 1s ease-in-out;
  top: 0;
  left: 0;
}
.navbar-drawer {
  font-family: "Oswald", sans-serif;
  z-index: 150;
  top: 0;
  height: 100vh;
  width: 50%;
  background: white;
  transition: 1s linear;
  -webkit-transition: 1s ease-in-out;
}

.MuiAvatar-img {
  object-fit: contain !important;
}

.MuiAvatar-root {
  width: 93px !important;
  height: 93px !important;
}

.accessories {
  padding: 0.5rem 0.5rem;
}
.accessories:hover {
  transition: 0.5s ease;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px white;
}
.accessories-subroutes {
  background-color: white !important;
  z-index: 999 !important;
  position: absolute;
  min-width: 16rem;
  box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: .3rem .1rem;
  top: 2.56rem;
  left: -1rem;
  padding: 1rem;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.accessories-subroute {
  text-decoration: none;
  color: black;
  margin: 20px 0px;
  transition: 0.3s ease-in;
}

.route-heading {
  text-shadow: 1px 1px 1px #f0e7f500;
  color: #e12626;
  font-size: 19px;
   transition: 0.3s ease-in;
}

.accessories-subroute:hover {
  transition: 0.3s ease-in;
  color: #6f07f6;
}


.expand-menu-button {
  padding: 0.5rem;
}

.expand-menu-link {
  color: black;
}

@media (max-width: 756px) {
  .navbar-component {
    display: none !important;
  }
  .navbar-container{
    justify-content: center;
  }
  .navbar-logo {
    display: none !important;
    background-color: white !important;
  }
}

@media (min-width: 756px) {
  .draw-button {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .navbar-drawer {
    display: none;
  }
}
